.delete svg {
    fill: black;
    transition: .1s;
    pointer-events: fill;
}

    .delete svg:hover {
        fill: #d9534f;
        transform: scale(1.5);
        pointer-events: fill;
    }

.edit svg {
    fill: black;
    transition: .1s;
    pointer-events: fill;
}

    .edit svg:hover {
        fill: #428bca;
        transform: scale(1.5);
        pointer-events: fill;
    }

.home svg {
    fill: black;
    transition: .1s;
    pointer-events: fill;
}

    .home svg:hover {
        fill: #5cb85c;
        transform: scale(1.15);
        pointer-events: fill;
    }
