.delete svg {
    fill: black;
    transition: .25s;
    pointer-events: fill;
}

    .delete svg:hover {
        fill: red;
        transform: scale(1.5);
        pointer-events: fill;
    }

.edit svg {
    fill: black;
    transition: .25s;
    pointer-events: fill;
}

    .edit svg:hover {
        fill: blue;
        transform: scale(1.5);
        pointer-events: fill;
    }
