.delete svg {
    fill: black;
    transition: .25s;
    pointer-events: fill;
}

    .delete svg:hover {
        fill: #d9534f;
        transform: scale(1.5);
        pointer-events: fill;
    }

.edit svg {
    fill: black;
    transition: .25s;
    pointer-events: fill;
}

    .edit svg:hover {
        fill: #428bca;
        transform: scale(1.5);
        pointer-events: fill;
    }
