@model IEnumerable<ethko.Models.GetIndividualCaseViewModel>

@Html.AntiForgeryToken()
<hr />
<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="http://cdn.datatables.net/1.10.2/css/jquery.dataTables.min.css">
</head>
    @Html.AntiForgeryToken()

    <body style="margin:20px auto">
        <div class="container">
            <br />
            Select Group
            <select id='filterText' style='display:inline-block' onchange='filterText()'>
                <option disabled selected>Select</option>
                <option value='yes'>Yes</option>
                <option value='no'>No</option>
                <option value='all'>All</option>
            </select>
            <br />
            <br />
            <table id="myTable" class="table table-hover">
                <thead>
                    <tr>
                        <th>Case</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model != null)
                    {
                        foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CaseName)
                                </td>
                            </tr>
                        }
                    }
                    @if (Model == null)
                    {
                        <tr>
                            <td>nullsup</td>
                        </tr>
                    }

                </tbody>
            </table>
        </div>
    </body>
