@model ethko.Models.AddContactGroupViewModel
@using (Html.BeginForm("NewGroup", "Contacts", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary("", new { @class = "text-danger" })

    <div class="form-group">
            @Html.TextBoxFor(m => m.ContactGroupName, new { @class = "form-control", placeholder = "Group Name", required = "required" })
    </div>
    <div class="form-group">
            <input type="submit" class="btn btn-success" value="Save Group" />
    </div>
}