@model ethko.Contact
@{
    ViewBag.Title = "Delete Contact";
}
<head>
    <meta http-equiv="refresh" content="1;url=./Index" />
</head>
<br />
<br />
<h1>Delete Contact</h1>
<h2><font color="green">Delete Action Successful!</font></h2>
<br />
<h3><font color="green">Redirecting in 1 second...</font></h3>


