@model ethko.ContactGroup
@using (Html.BeginForm("EditSave", "Contacts", new { @class = "form-horizontal", role = "form", ContactGroupId = Model.ContactGroupId }))
{
    <h3>Contact Group: <input name="NewContactGroup" class="form-control" type="text" placeholder=@Html.DisplayTextFor(m => m.ContactGroupName) required></h3>
    @Html.AntiForgeryToken()
    <input type="submit" name="SaveButton" value="Save" class="btn btn-success" />
}