<!-- ko with: home -->
<style>
    #Event {
        height: 70px;
        width: 70px;
    }

        #Event:hover {
            content: url('../content/img/281094_Calendar_R_blue.png');
            height: 70px;
            width: 70px;
        }

    #Document {
        height: 70px;
        width: 70px;
    }

        #Document:hover {
            content: url('../content/img/281118_MultiDocuments_R_blue.png');
            height: 70px;
            width: 70px;
        }

    #Task {
        height: 70px;
        width: 70px;
    }

        #Task:hover {
            content: url('../content/img/282126_MultipleChecklist_R_blue.png');
            height: 70px;
            width: 70px;
        }

    #Expense {
        height: 70px;
        width: 70px;
    }

        #Expense:hover {
            content: url('../content/img/283592_Tax_Changes_Dollar_R_blue.png');
            height: 70px;
            width: 70px;
        }

    #Invoice {
        height: 70px;
        width: 70px;
    }

        #Invoice:hover {
            content: url('../content/img/283598_Tax_Payer_Dollar_R_blue.png');
            height: 70px;
            width: 70px;
        }

    #Contact {
        height: 70px;
        width: 70px;
    }

        #Contact:hover {
            content: url('../content/img/281259_UXPerson_R_blue.png');
            height: 70px;
            width: 70px;
        }

    #Case {
        height: 70px;
        width: 70px;
    }

        #Case:hover {
            content: url('../content/img/281283_Briefcase_R_blue.png');
            height: 70px;
            width: 70px;
        }

    #Message {
        height: 70px;
        width: 70px;
    }

        #Message:hover {
            content: url('../content/img/281022_Mail_R_blue.png');
            height: 70px;
            width: 70px;
        }

    #Time {
        height: 70px;
        width: 70px;
    }

        #Time:hover {
            content: url('../content/img/281224_Clock_R_blue.png');
            height: 70px;
            width: 70px;
        }

    #Note {
        height: 70px;
        width: 70px;
    }

        #Note:hover {
            content: url('../content/img/281495_SpiralboundNotebook_R_blue.png');
            height: 70px;
            width: 70px;
        }

    #Person {
        height: 70px;
        width: 70px;
    }

        #Person:hover {
            content: url('../content/img/281122_PersonFemale_R_blue.png');
            height: 70px;
            width: 70px;
        }

    #Company {
        height: 70px;
        width: 70px;
    }

        #Company:hover {
            content: url('../content/img/281072_Building_R_blue.png');
            height: 70px;
            width: 70px;
        }
</style>
<div class="jumbotron">
    <center><img src="../content/img/jumbotron.jpg" style="width:800px;height:369px"></center>
</div>
<div class="row">
    <h2>Add Item</h2>
    <a class="btn btn-default" href="#"><img src="../content/img/281094_Calendar_R_purple.png" id="Event">  <br />Add Event</a>&nbsp;
    <a class="btn btn-default" href="#"><img src="../content/img/281118_MultiDocuments_R_purple.png" id="Document">  <br />Add Document</a>&nbsp;
    <a class="btn btn-default" href="#"><img src="../content/img/282126_MultipleChecklist_R_purple.png" id="Task">  <br />Add Task</a>&nbsp;
    <a class="btn btn-default" href="#"><img src="../content/img/283592_Tax_Changes_Dollar_R_purple.png" id="Expense">  <br />Add Expense</a>&nbsp;
    <a class="btn btn-default" href="#"><img src="../content/img/283598_Tax_Payer_Dollar_R_purple.png" id="Invoice">  <br />Add Invoice</a>&nbsp;
    <a class="btn btn-default" href='@Url.Action("New", "Contacts")'><img src="../content/img/281259_UXPerson_R_purple.png" id="Contact">  <br />Add Contact</a>&nbsp;
    <a class="btn btn-default" href='@Url.Action("New", "Cases")'><img src="../content/img/281283_Briefcase_R_purple.png" id="Case">  <br />Add Case</a>&nbsp;
    <a class="btn btn-default" href="#"><img src="../content/img/281022_Mail_R_purple.png" id="Message">  <br />New Message</a>&nbsp;
    <a class="btn btn-default" href="#"><img src="../content/img/281224_Clock_R_purple.png" id="Time">  <br />Add Time Entry</a>&nbsp;
    <a class="btn btn-default" href="#"><img src="../content/img/281495_SpiralboundNotebook_R_purple.png" id="Note">  <br />Add Note</a>
</div>

<!-- /ko -->
