@model ethko.PracticeArea
@using (Html.BeginForm("EditSave", "Cases", new { @class = "form-horizontal", role = "form", PracticeAreaId = Model.PracticeAreaId }))
{
    <h3>Practice Area: <input name="NewPracticeArea" class="form-control" type="text" placeholder=@Html.DisplayTextFor(m => m.PracticeAreaName) required></h3>
    @Html.AntiForgeryToken()
    <input type="submit" name="SaveButton" value="Save" class="btn btn-success" />
}