@model ethko.Models.AddToDoViewModel
@using (Html.BeginForm("NewToDoModal", "ToDos", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary("", new { @class = "text-danger" })

    <div class="form-group">
        <label>To-Do Name</label>
        <div class="form-row">
            <div class="input-group col-md-12">
                @Html.TextBoxFor(m => m.ToDoName, new { @class = "form-control", placeholder = "To-Do Name", required = "required" })
            </div>
        </div>
    </div>

    <div class="form-group">
        <label>Priority</label>
        <div class="form-row">
            <div class="input-group col-md-12">
                @Html.DropDownList("PriorityNames", (IEnumerable<SelectListItem>)ViewData["DBPriorityNames"], new { @class = "form-control" })
            </div>
        </div>
    </div>

    <div class="form-group">
        <label>Due Date</label>
        <div class="form-row">
            <div class="input-group col-md-12">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1"><i class="far fa-calendar-alt"></i></span>
                </div>
                <input type="text" class="form-control datetimepicker-input" id="datetimepicker5" data-toggle="datetimepicker" data-target="#datetimepicker5" />
            </div>
        </div>
    </div>

    <div class="form-group">
        <input type="submit" class="btn btn-success" value="Save To-Do" />
    </div>
}