@model ethko.Models.AddCaseStageViewModel
@using (Html.BeginForm("NewCaseStage", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary("", new { @class = "text-danger" })

    <div class="form-group">
        <div class="col-md-12" align="left">
            @Html.TextBoxFor(m => m.CaseStageName, new { @class = "form-control", placeholder = "Case Stage Name", required = "required" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-success" value="Save Case Stage" />
        </div>
    </div>
}