@model ethko.Models.AddLeadReferralSourceViewModel
@using (Html.BeginForm("NewLeadReferralSource", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary("", new { @class = "text-danger" })

    <div class="form-group">
        @Html.TextBoxFor(m => m.ReferralSourceName, new { @class = "form-control", placeholder = "Referral Source Name", required = "required" })
    </div>
    <div class="form-group">
        <input type="submit" class="btn btn-success" value="Save Referral Source" />
    </div>
}