@model ethko.Models.AddUserTypeViewModel
<p>
    <div class="col-md-12">
        @using (Html.BeginForm("NewUserType", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary("", new { @class = "text-danger" })

            <div class="form-group">
                <div class="col-md-4" align="left">
                    @Html.TextBoxFor(m => m.UserTypeName, new { @class = "form-control", placeholder = "User Type Name" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <input type="submit" class="btn btn-success" value="Save User Type" />
                </div>
            </div>
        }
    </div>
</p>