@model ethko.Office
@using (Html.BeginForm("DeleteConfirmed", "Manage", new { @class = "form-horizontal", role = "form", OfficeId = Model.OfficeId }))
{
    <font color="red">
        <h3>Really DELETE this Office?  This action is irreversible!</h3>
    </font>
    <br />
    <h3>Office: @Html.DisplayFor(m => m.OfficeName)</h3>
    <br />
    <br />
    <br />
    <br />
    @Html.AntiForgeryToken()
    <a class="btn btn-default" href='@Url.Action("FirmSettings", "Manage")'>Cancel</a>@Html.Raw("   ")<input type="submit" name="DeleteButton" value="Delete" class="btn btn-danger" />
}