@model ethko.Office
@using (Html.BeginForm("DeleteConfirmed", "Manage", new { @class = "form-horizontal", role = "form", OfficeId = Model.OfficeId }))
{
    <font color="red">
        <h3>Really DELETE this Office?  This action is irreversible!</h3>
    </font>
    <br />
    <h3><strong>@Html.DisplayFor(m => m.OfficeName)</strong></h3>
    <br />
    <br />
    @Html.AntiForgeryToken()
    <input type="submit" name="DeleteButton" value="Delete" class="btn btn-danger" />
}