@model ethko.Models.DeleteConfirmedViewModel
@{
    ViewBag.Title = "Delete Complete";
}
@if (Model != null)
{
    if (Model.OfficeId != null)
    {
        <head>
            <meta http-equiv="refresh" content="1;url=./FirmSettings" />
        </head>
    }

    if (Model.BillingMethodId != null)
    {
        <head>
            <meta http-equiv="refresh" content="1;url=./BillingMethods" />
        </head>
    }
}

@if (Model == null)
{
    <head>
        <meta http-equiv="refresh" content="1;url=./Index" />
    </head>
}

<br />
<a class="btn btn-default" href='@Url.Action("Index", "Contacts")'>Contacts</a>&nbsp;
<a class="btn btn-default" href='@Url.Action("Companies", "Contacts")'>Companies</a>&nbsp;
<a class="btn btn-default" href='@Url.Action("ContactGroups", "Contacts")'>Contact Groups</a>&nbsp;
<a class="btn btn-primary" href='@Url.Action("ViewContact", "Contacts")'>Contact Details</a>&nbsp;
<br />
<h1>Delete Complete</h1>
<h2><font color="green">Delete Action Successful!</font></h2>
<br />
<h3><font color="green">Redirecting in 1 second...</font></h3>