@model ethko.LeadStatus
@using (Html.BeginForm("DeleteConfirmed", "Manage", new { @class = "form-horizontal", role = "form", LeadStatusId = Model.LeadStatusId }))
{
    <font color="red">
        <h3>Really DELETE this Lead Status?  This action is irreversible!</h3>
    </font>
    <br />
    <h3><strong>@Html.DisplayFor(m => m.LeadStatusName)</strong></h3>
    <br />
    <br />
    @Html.AntiForgeryToken()
    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button> <input type="submit" name="DeleteButton" value="Delete" class="btn btn-danger" />
}