@model ethko.BillingMethod
@{
    ViewBag.Title = "Delete Billing Method";
}

<br />
<a class="btn btn-default" href='@Url.Action("ClientBilling", "Manage")'>Back</a>&nbsp;
<br />
<h1>Delete Billing Method</h1>

@using (Html.BeginForm("DeleteConfirmed", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    <font color="red">
        <h3>Really DELETE this billing method?  This action is irreversible!</h3>
    </font>
    <br />
    <h3>BillingMethodId: @Html.DisplayFor(m => m.BillingMethodId)</h3>
    <br />
    <br />
    <br />
    <br />
    @Html.AntiForgeryToken()
    <a class="btn btn-danger" href='@Url.Action("DeleteConfirmed", "Manage", new { BillingMethodId = Model.BillingMethodId })'>Delete Billing Method</a>
}

