@model ethko.CaseStage
@using (Html.BeginForm("EditSave", "Manage", new { @class = "form-horizontal", role = "form", CaseStageId = Model.CaseStageId }))
{
    <h3>Case Stage: <input name="NewCaseStage" class="form-control" type="text" placeholder=@Html.DisplayTextFor(m => m.CaseStageName)></h3>
    @Html.AntiForgeryToken()
    <input type="submit" name="SaveButton" value="Save" class="btn btn-success" />
}