@model ethko.Office
@using (Html.BeginForm("EditSave", "Manage", new { @class = "form-horizontal", role = "form", OfficeId = Model.OfficeId }))
{
    <h3>Office: <input name="NewOffice" class="form-control" type="text" placeholder=@Html.DisplayTextFor(m => m.OfficeName)></h3>
    @Html.AntiForgeryToken()
    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button> <input type="submit" name="SaveButton" value="Save" class="btn btn-success" />
}