@model ethko.Models.EditConfirmedViewModel
@{
    ViewBag.Title = "Edit Complete";
}
@if (Model != null)
{
    if (Model.OfficeId != null)
    {
        <head>
            <meta http-equiv="refresh" content="1;url=./FirmSettings" />
        </head>
    }

    if (Model.BillingMethodId != null)
    {
        <head>
            <meta http-equiv="refresh" content="1;url=./ClientBilling" />
        </head>
    }

    if (Model.UserTypeId != null)
    {
        <head>
            <meta http-equiv="refresh" content="1;url=./UserTypes" />
        </head>
    }
}

@if (Model == null)
{
    <head>
        <meta http-equiv="refresh" content="1;url=./Index" />
    </head>
}

<br />
<br />
<h1>Edit Complete</h1>
<h2><font color="green">Edit Action Successful!</font></h2>
<br />
<h3><font color="green">Redirecting in 1 second...</font></h3>