@model ethko.LeadStatus
@using (Html.BeginForm("EditSave", "Manage", new { @class = "form-horizontal", role = "form", LeadStatusId = Model.LeadStatusId }))
{
    <h3>Lead Status: <input name="NewLeadStatus" type="text" placeholder=@Html.DisplayTextFor(m => m.LeadStatusName)></h3>
    @Html.AntiForgeryToken()
    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button> <input type="submit" name="SaveButton" value="Save" class="btn btn-success" />
}